
* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 60px 0 0 0;
}

body {
  padding: 0;
  margin: 0 auto;
  background: #f5f5f5;

  /* width: 375px; */
}

button {
  background: none;
  border: none;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  background: #fff;
  padding: 15px;
  margin-top: 10px;
}

.menu {
  display: none;
  visibility: hidden;
}

.btn-hamburg {
  /* display: none; */

  /* visibility: visible; */
}

.logo {
  color: #6070ff;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.main-page {
  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  font-style: normal;
  padding: 15% 1.2rem;
  margin: 0;
  background-image: url("../images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  height: 605px;
}

.main-page-h1 {
  color: #172b4d;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  line-height: 52px;
}

.main-p {
  color: #344563;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 15px;
  margin: 0;
  line-height: 30px;
}

.media-h2 {
  color: #2438c4;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  padding: 0 15px;
  margin: 15px 0 15px 0;

  /* color: #7f8cff; */
}

.media {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  align-items: center;
  list-style: none;
  padding: 5px 15px;
  margin: 0;
}

.btn {
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 12px;
  margin: 12px 0;
}

.btn-enabled-tonic1 {
  color: #396df2;
  background: #fff;
  border: 1px solid #2438c4;

  /* border: 1px solid #7f8cff; */
}

.btn-enabled-tonic1:hover {
  color: #fff;
  background: #1b31f0;
  box-shadow: 0 8px 16px rgba(70, 85, 255, 0.25);

  /* background: #6070ff; */
}

.btn-enabled-tonic1:active {
  color: #fff;
  background: #1b31f0;

  /* background: #6070ff; */
}

.btn-disable {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.card-body {
  /* display: flex; */

  /* flex-flow: column nowrap; */
}

.tags-ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  padding: 0;
}

.tag {
  color: #1b31f0;
  padding: 5px 12px;
  background: #ebebff;
  border-radius: 8px;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.tag a {
  color: #2836ba;
  text-decoration: none;
}

.p-deskribe {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 12px 0;
}

.canopy-part {
  display: flex;
  justify-items: start;
  gap: 26px;
}

.roles-ul {
  display: flex;
  justify-items: flex-end;
  gap: 26px;
  padding: 0;
}

.role {
  color: #454a53;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.canopy {
  color: #344563;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.card-title {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.card-image-tonic1 {
  width: 300px;
  height: 225px;
  left: 15px;
  right: 15px;
}

.card {
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  margin: 44px 0;
  width: 327px;
  height: auto;
}

.desktop-facebook {
  display: none;
  visibility: hidden;
}

.desktop-p-experiment {
  visibility: hidden;
  display: none;
}

.works-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  justify-content: center;
}

.main-page-about-myself {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  background: #fff;
  border-radius: 0 90px 0 0;
  padding: 0;
  margin: 0;
}

.h1-about-myself {
  color: #172b4d;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  padding: 0 0 0 10px;
  margin: 0;
  line-height: 52px;
}

.p-about-myself {
  color: #344563;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  padding: 10px;
  margin: 0;
  line-height: 30px;
}

.media-h2-about-myself {
  color: #2438c4;
  font-style: normal;
  font-weight: 400;
  padding: 0 10px;
  margin: 15px 0 0 0;

  /* color: #7f8cff; */
}

.media-about-myself {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  align-items: center;
  list-style: none;
  padding: 20px 10px;
  margin: auto 0;
}

.mp-about-myself-profile {
  display: flex;
  flex-flow: column nowrap;
  font-style: normal;
  padding: 15% 1.2rem;
  margin: 0;
  background-image: url("../images/base-about-my-self.png");
  border-radius: 0 90px 0 0;
}

.skills {
  display: flex;
  flex-flow: row nowrap;
}

.skills-list {
  padding: 4px 12px;
  list-style: none;
  margin: 5px 0;
}

.skill {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  padding: 18px 0;
  margin: 12px 0;
  border-bottom: 1px solid #dfe1e6;
}

.dropdown {
  padding: 2px 0;
  border: none;
}

.icon {
  float: right;
  width: 12px;
  padding-top: 8px;
  height: 12px;
}

.language {
  display: flex;
  justify-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
  margin: 12px 0;
}

.lang-logo {
  width: 50px;
  height: 50px;
}

.lang {
  color: #253858;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  text-decoration: none;
  padding: 0 12px;
}

.container-footer {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 28px;
  border-radius: 80px 0 0 0;
  background-color: #6070ff;
  padding-bottom: 30px;
  margin-top: 30px;
  background-image: url("../images/bg-contact.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

label {
  color: #fff;
}

.h2-contact-me {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 50px;
  text-align: center;
  margin: 90px 0 0 0;
}

.p-contact-info {
  color: #fcfcfc;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  padding: 10px 22px;
}

.contact {
  margin: 2px 8px;
  padding: 8px;
}

.form-contact {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
}

.form-contact input {
  background: #fff;
  color: #172b4d;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 340px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-contact textarea {
  background: #fff;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 340px;
  height: 165px;
  padding: 8px;
  box-sizing: border-box;
}

.btn-contact {
  color: #1b31f0;
  text-align: left;
  background: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

#line {
  /* .shape1 { */

  width: 134px;
  height: 5px;
  background-color: #0d151e;
  position: relative;
  left: calc(50% - 67px - 0.5px);
  border-radius: 10px;
  z-index: 1;
  top: 25px;

  /* left: calc(50% - 134px/2 - 0.5px); */

  /* left: 100px; */
}

.image2 {
  display: none;
}

@media screen and (min-width: 992px) {
  .image1 {
    display: none;
  }

  .image2 {
    display: block;
  }

  .btn-hamburg {
    visibility: visible;
    display: none;
  }

  .menu {
    visibility: visible;
    display: flex;
    flex-flow: row;
    list-style: none;
    padding-right: 140px;
  }

  .menu-item {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    align-items: center;
    text-align: center;
    line-height: 20px;
    padding: 0;
    margin: 0 10px;
  }

  header {
    background-color: #fff;
    padding: 2px 2rem;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    width: 100%;
  }

  .main-page {
    font-size: 20px;
    font-style: normal;
    background-color: #fff;
    background-image: url("../images/bg-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 5%;
    border-radius: 0 0 0 95px;
  }

  .main-page-h1 {
    line-height: 52px;
    font-size: 34px;
    font-weight: bold;
    margin: 10px 0;
    padding-left: 180px;
  }

  .main-p {
    color: #344563;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 8px 0;
    padding-left: 180px;
  }

  .media-h2 {
    padding-left: 180px;
  }

  .media {
    padding-left: 180px;
  }

  .card {
    width: auto;
    border-radius: 24px;
    margin: 5%;
  }

  .card-body {
    display: flex;
    flex-flow: row nowrap;
  }

  .card-info {
    display: flex;
    flex-flow: column;
    padding-left: 5%;
  }

  .card-image-tonic1 {
    width: auto;
    height: auto;
    left: 16px;
    right: 16px;

    /* background-image: url("../images/desk-works1.png"); */
  }

  .img-right {
    order: 2;
  }

  .desktop-facebook {
    visibility: visible;
    display: inline-block;
  }

  .canopy-mobile {
    visibility: hidden;
    display: none;
  }

  .desktop-p-experiment {
    visibility: visible;
    display: block;
    margin-right: 46px;
  }

  .mobile-p-deskribe {
    visibility: hidden;
    display: none;
  }

  .main-page-about-myself {
    grid-template-columns: 45% auto;
    grid-gap: 20px;
    padding: 142px 165px;
  }

  .mp-about-myself-profile {
    padding: 0;
  }

  .skills {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 50px;
  }

  .skill {
    /* padding-top: 50px; */
  }

  .languages {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    padding: 0;
  }

  .language {
    flex-flow: column;
    align-content: flex-start;
    margin: 12px;
    height: 120px;
    width: 120px;
    border-radius: 8px;
  }

  .lang {
    padding: 8px 0 0 0;
    font-size: 15px;
    text-align: left;
    align-self: start;
  }

  .lang-logo {
    padding: 16px 14px;
  }

  .container-footer {
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-image: url("/images/bg-cont-frm-shapes.png");
  }

  .contact-form input {
    width: 450px;
    height: 50px;
    border-radius: 2px;
  }

  .contact-form textarea {
    width: 448px;
    height: 170px;
    border-radius: 2px;
  }

  .p-contact-info {
    width: 570px;
    text-align: center;
  }

  .contact-form {
    width: 570px;
  }

  #line {
    /* .shape1 { */

    width: 134px;
    height: 5px;
    background-color: #0d151e;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    top: 25px;
    left: 0;
  }
}
