* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 60px 0 0 0;
}

body {
  padding: 0;
  margin: 0 auto;
  background: #f5f5f5;
}

button {
  background: none;
  border: none;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  background: #fff;
  padding: 15px 15px;
}

.menu {
  display: none;
  visibility: hidden;
}

/* mobile menu */

.menu-list {
  position: fixed;
  width: 35rem;
  width: 5rem;
  height: 18rem;
  left: 20px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px;
  list-style: none;
  font-size: 45px;
  font-weight: 500;
}

.option {
  color: #fff;
  text-decoration: none;
}

.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 40, 200, 0.65);
  backdrop-filter: blur(6px);
  z-index: 100;
}

.close-cover {
  border: none;
  background: none;
  position: absolute;
  top: 4rem;
  right: 4rem;
}

/* end mobile menu */

.logo {
  color: #6070ff;
  padding-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

.main-page {
  display: flex;
  flex-flow: column nowrap;
  background: #fff;
  font-style: normal;
  padding: 15% 1.2rem;
  margin: 0;
  background-image: url('../images/header-shapes-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  height: 605px;
}

.main-page-h1 {
  color: #172b4d;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  line-height: 52px;
}

.main-p {
  color: #344563;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 15px;
  margin: 0;
  line-height: 30px;
}

.media-h2 {
  color: #2438c4;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  padding: 0 15px;
  margin: 15px 0 15px 0;
}

.media {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  align-items: center;
  list-style: none;
  padding: 5px 15px;
  margin: 0;
}

.btn {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #6070ff;
  border: 1px solid #7f8cff;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 24%);
  border: 1px solid #4053fc;
  background-color: #6070ff;
}

.btn:active {
  color: #fff;
  background-color: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  border-color: #c1c7d0;
  background-color: #fff;
  cursor: not-allowed;
}

.btn-enabled-tonic1 {
  color: #396df2;
  background: #fff;
  border: 1px solid #2438c4;
}

.btn-enabled-tonic1:hover {
  color: #fff;
  background: #1b31f0;
  box-shadow: 0 8px 16px rgba(70, 85, 255, 0.25);
}

.btn-enabled-tonic1:active {
  color: #fff;
  background: #1b31f0;
}

.btn-disable {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

.tags-ul {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 0;
}

.tag {
  color: #1b31f0;
  padding: 5px 12px;
  background: #ebebff;
  border-radius: 8px;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}

.tag a {
  color: #2836ba;
  text-decoration: none;
}

.p-deskribe {
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 12px 0;
}

.canopy-part {
  display: flex;
  justify-items: start;
  gap: 26px;
}

.roles-ul {
  display: flex;
  justify-items: flex-end;
  gap: 26px;
  padding: 0;
}

.role {
  color: #454a53;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.canopy {
  color: #344563;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.card-title {
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
}

.card-image-tonic1 {
  width: 300px;
  height: 225px;
  left: 15px;
  right: 15px;
}

.card {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  margin: 44px 12px;
  width: calc(100% - 24px);
  height: auto;
}

.desktop-facebook {
  display: none;
  visibility: hidden;
}

.desktop-p-experiment {
  visibility: hidden;
  display: none;
}

.works-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  justify-content: center;
}

/* popup */

.popup-cover {
  position: fixed;
  display: none;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  background-color: rgb(193, 199, 208, 0.4);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  background-color: #fff;
  margin: 16px;
  border-radius: 10px;
  padding: 10% 16px;
}

.modal .close-modal {
  position: absolute;
  top: 6px;
  right: 2%;
}

.modal .close-modal .bi-x {
  font-size: 34px;
  color: #67798e;
  font-weight: 700;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  border: none;
}

.modal .project-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  color: #172b4d;
  text-transform: capitalize;
}

.project-client {
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
}

.modal .modal-header .role-year-ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 70%;
}

.project-role,
.project-year {
  color: #7a869a;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

.modal .modal-header .role-year-ul .project-year {
  margin-left: 32px;
}

.modal .featured-image-container {
  align-self: stretch;
  max-height: 50%;
}

.modal .featured-image {
  width: 100%;
  max-height: 100%;
}

.modal .project-description-div {
  max-height: 80px;
  overflow: hidden;
}

.modal .modal-description {
  font-size: 15px;
  padding: 12px 0;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
}

.modal .technologies-buttons {
  padding-top: 16px;
}

.modal .modal-see-btn {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-page-about-myself {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  background: #fff;
  border-radius: 0 90px 0 0;
  padding: 0;
  margin: 0;
}

.h1-about-myself {
  color: #172b4d;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  padding: 0 0 0 10px;
  margin: 0;
  line-height: 52px;
}

.p-about-myself {
  color: #344563;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  padding: 10px;
  margin: 0;
  line-height: 30px;
}

.media-h2-about-myself {
  color: #2438c4;
  font-style: normal;
  font-weight: 400;
  padding: 0 10px;
  margin: 15px 0 0 0;
}

.media-about-myself {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  align-items: center;
  list-style: none;
  padding: 20px 10px;
  margin: auto 0;
}

.mp-about-myself-profile {
  display: flex;
  flex-flow: column nowrap;
  font-style: normal;
  padding: 15% 1.2rem;
  margin: 0;
  background-image: url('../images/base-about-my-self.png');
  border-radius: 0 90px 0 0;
}

.skills {
  display: flex;
  flex-flow: row nowrap;
}

.skills-list {
  padding: 4px 12px;
  list-style: none;
  margin: 5px 0;
  width: 90%;
}

.skill {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  padding: 18px 0;
  margin: 12px 0;
  border-bottom: 1px solid #dfe1e6;
}

.dropdown {
  padding: 2px 0;
  border: none;
}

.icon {
  float: right;
  width: 12px;
  padding-top: 8px;
  height: 12px;
  box-sizing: content-box;
}

.language {
  display: flex;
  justify-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
  margin: 12px 0;
}

.lang-logo {
  width: 50px;
  height: 50px;
}

.lang {
  color: #253858;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  text-decoration: none;
  padding: 0 12px;
}

.container-footer {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 28px;
  border-radius: 80px 0 0 0;
  background-color: #6070ff;
  padding-bottom: 30px;
  margin-top: 30px;
  background-image: url('../images/bg-contact.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

label {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

.h2-contact-me {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 50px;
  text-align: center;
  margin: 90px 0 0 0;
}

.p-contact-info {
  color: #fcfcfc;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  padding: 10px 22px;
}

.contact {
  margin: 2px 8px;
  padding: 8px;
  max-width: 350px;
}

.form-contact {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;
  max-width: 350px;
}

.form-contact input {
  background: #fff;
  color: #172b4d;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  max-width: 327px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-contact textarea {
  background: #fff;
  color: #b3bac5;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  max-width: 327px;
  height: 165px;
  padding: 8px;
  box-sizing: border-box;
}

.btn-contact {
  color: #1b31f0;
  text-align: left;
  background: #fff;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}

#line {
  width: 134px;
  height: 5px;
  background-color: #0d151e;
  position: relative;
  left: calc(50% - 67px - 0.5px);
  border-radius: 10px;
  z-index: 1;
  top: 25px;
}

.image2 {
  display: none;
}

@media screen and (min-width: 992px) {
  .image1 {
    display: none;
  }

  .image2 {
    display: block;
  }

  .btn-hamburg {
    visibility: visible;
    display: none;
  }

  .menu {
    visibility: visible;
    display: flex;
    flex-flow: row;
    list-style: none;
    padding-right: 140px;
    gap: 70px;
  }

  .menu-item {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    align-items: center;
    text-align: center;
    line-height: 20px;
    padding: 0;
    margin: 0 10px;
  }

  header {
    background-color: #fff;
    padding: 2px 2rem;
    padding-top: 0;
    margin-top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .main-page {
    font-size: 20px;
    font-style: normal;
    background-color: #fff;
    background-image: url('../images/bg-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 5%;
    border-radius: 0 0 0 95px;
  }

  .main-page-h1 {
    line-height: 52px;
    font-size: 34px;
    font-weight: bold;
    margin: 10px 0;
    padding-left: 180px;
  }

  .main-p {
    color: #344563;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 8px 0;
    padding-left: 180px;
    max-width: 70%;
  }

  .media-h2 {
    padding-left: 180px;
  }

  .media {
    padding-left: 180px;
  }

  .popup-cover {
    margin: 0 auto;
  }

  .modal {
    max-width: 1150px;
    height: 100vh;
    margin: 12px auto;
    padding-top: 20px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 0;
  }

  .modal .modal-header {
    justify-content: flex-start;
  }

  .project-client,
  .project-role,
  .project-year {
    font-size: 18px;
  }

  .modal .modal-header .project-client {
    margin-right: 28px;
  }

  .project-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 6px 0;
  }

  .modal .project-description-div {
    flex: 2;
    max-height: 75%;
    overflow: hidden;
  }

  .technologies-buttons {
    margin-left: 32px;
    padding-top: 12px;
    flex: 1;
  }

  .modal .modal-see-btn {
    justify-content: flex-start;
  }

  .modal .modal-see-btn .project-source {
    margin-left: 24px;
  }

  .card {
    width: auto;
    border-radius: 24px;
    margin: 5%;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  .card-info {
    width: 60%;
    display: flex;
    flex-flow: column;
    padding-left: 5%;
  }

  .card-image-tonic1 {
    width: auto;
    height: auto;
    left: 16px;
    right: 16px;
  }

  .item:nth-child(odd) .card-featured-image-container {
    order: 2;
  }

  .desktop-facebook {
    visibility: visible;
    display: inline-block;
  }

  .canopy-mobile {
    visibility: hidden;
    display: none;
  }

  .desktop-p-experiment {
    visibility: visible;
    font-size: 20px;
    line-height: 200%;
    display: block;
    margin-right: 46px;
  }

  .mobile-p-deskribe {
    visibility: hidden;
    display: none;
  }

  .main-page-about-myself {
    grid-template-columns: 45% auto;
    grid-gap: 20px;
    padding: 142px 165px;
  }

  .mp-about-myself-profile {
    padding: 0;
  }

  .skills {
    display: flex;
    flex-flow: column nowrap;
    padding-top: 50px;
  }

  .languages {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    padding: 0;
  }

  .language {
    flex-flow: column;
    align-content: flex-start;
    margin: 12px;
    height: 120px;
    width: 120px;
    border-radius: 8px;
  }

  .lang {
    padding: 8px 0 0 0;
    font-size: 15px;
    text-align: left;
    align-self: start;
  }

  .lang-logo {
    padding: 16px 14px;
  }

  .container-footer {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-image: url('./images/bg-cont-frm-shapes.png');
  }

  .contact {
    width: 100%;
  }

  .contact-form {
    max-width: 100%;
  }

  .contact-form input {
    max-width: 570px;
    height: 50px;
    border-radius: 2px;
  }

  .contact-form textarea {
    max-width: 570px;
    height: 170px;
    border-radius: 2px;
  }

  .p-contact-info {
    max-width: 570px;
    text-align: center;
  }

  #line {
    width: 134px;
    height: 5px;
    background-color: #0d151e;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    top: 25px;
    left: 0;
  }
}
